body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
}

#main-content {
  /* padding: 35px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#project-title {
  margin: 10px !important;
}

#display-project {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#project-title {
  display: flex;
  justify-content: space-between;
}

#default-content {
  display: flex;
  flex-direction: column;
}
#project-todos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#today-title {
  align-self: center;
}

.project-checklist-item {
  display: flex;
  gap: 5px;
  justify-items: center;
}

#project-checklists {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#project-checklists-title,
#project-todos-wrapper-title,
i {
  font-size: 1.3rem !important;
}
#projects-checklist-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project-todo-project {
    color: rgba(0, 0, 0, 0.539);
    font-size: 0.8rem;
}

#main-content-header {
  background-color: rgba(123, 236, 236, 0.095);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.effect1 {
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 10px;
}
.effect1:hover {
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.196);
}
#content-part {
  padding: 25px;
}

.activeTab {
  border: 1px solid red !important;
}

