#search {
  border: 1px solid rgba(128, 128, 128, 0.601);
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.409);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#search {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#search-input-area {
  display: flex;
  background-color: rgba(188, 188, 188, 0.491);
  padding: 3px;
  border-radius: 5px;
}

#search-input-area-input {
  background-color: rgba(188, 133, 133, 0.02);
  border: none !important;
  outline: none;
}

#search-input-area-delete-icon {
  cursor: pointer;
}

#search-results {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-result {
  color: rgba(0, 0, 0, 0.693);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.search-item {
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
.search-project-item:hover,
.search-todo-item:hover,
#search-result-today:hover {
  background-color: rgba(115, 115, 234, 0.395) !important;
}
#search-result-today {
  color: black;
}
