#side-bar {
  margin: 10px;
  padding: 15px;
  display: grid;
  gap: 35px;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100%;
  background-color: rgba(176, 210, 210, 0.439);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#sidebar-utility {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#side-bar div {
  cursor: pointer;
}
#sidebar-bottom span,
#sidebar-utility span {
  font-size: 1.1rem;
}
#sidebar-toggle {
  align-self: flex-end;
}
#sidebar-projects {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  /* height: 50vh; */
}

#sidebar-bottom {
  align-self: end;
  padding: 0px 15px 15px 15px;
}

.sidebar-todo-title {
  color: rgba(0, 0, 0, 0.645);
}
